{% extends 'base.html.twig' %}

{% block title %}
    About
{% endblock %}

{% block autres %}
    <div class="card-columns">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">History</h5>
                <p class="card-text">Add as many language packs as you want, to showcase your website across the entire globe.</p>
            </div>
            <img class="card-img-top" src="/img/thumbnail-5.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Awards</h5>
                <p class="card-text">Add as many language packs as you want, to showcase your website across the entire globe.</p>
            </div>
        </div>

        <div class="card">

            <img class="card-img-top" src="/img/thumbnail-4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">What we do</h5>
                <p class="card-text">Add as many language packs as you want, to showcase your website across the entire globe.</p>
            </div>
            <img class="card-img-top" src="/img/illustration2.png" alt="Card image cap">
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Who we are</h5>
                <p class="card-text">Add as many language packs as you want, to showcase your website across the entire globe.</p>
            </div>
            <div class="card-body ">
            <img class="card-img-top plan droite" src="/img/thumbnail-6.jpg" alt="Card image cap">

                <h5 class="card-title vide vide2">Goal</h5>
                <p class="card-text vide">Add as many language packs as you want, to showcase your website across the entire globe.</p>

            </div>
        </div>

    </div>
{% endblock %}
