{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}


{% block autres %}

 {% block membership %}
     <div class="membership" >
         <div class="card" style="width: 18rem;">
             <div class="card-body">
                 <h5 class="card-title">Membership Business Model</h5>
                 <p class="card-text">Get access to 200+ Premium WP Themes.</p>
                 <a href="#" class="btn btn-primary startNow">START NOW</a>
             </div>
         </div>
     </div>
 {% endblock %}

        {% block container %}
            <div class="container">

                {% block WeCraft %}
                    <div class="WeCraft">
                        <h3>We craft ecosystems that grow businesses.</h3>
                        <p>We're a full-service digital agency that believes being a Favorite brand is more valuable than just being a Famous one. We craft beautifully useful, connected ecosystems</p>
                        <p>that grow businesses and build enduring relationships between brands and humans.</p>
                    </div>
                {% endblock %}

                {% block rubriques %}
                    <div class="card-deck rubriques">
                        <div class="card">
                            <img class="card-img-top" src="/img/thumbnail-1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title card-rubrique">User experience</h5>
                                <p class="card-text">Update your online business experience to 2017 standards.</p>
                                <p class="card-text">Encrease your earnings.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/img/thumbnail-2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title card-rubrique">Social Media</h5>
                                <p class="card-text">Update your online business experience to 2017 standards.</p>
                                <p class="card-text">Encrease your earnings.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/img/thumbnail-3.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title card-rubrique">Branding</h5>
                                <p class="card-text">Update your online business experience to 2017 standards.</p>
                                <p class="card-text">Encrease your earnings.</p>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

{% endblock %}

