{% extends 'base.html.twig' %}

{% block title %}
    Pricing
{% endblock %}

{% block autres %}
    <div class="card-group card-price">
        <div class="card-header titre-price">
            <p>Pick your plan</p>
        </div>

        <div class="card prix">

            <div class="card-body prixCoul">
                <h5 class="card-title">$59</h5>
                <p class="card-text">Single License</p>
            </div>
            <div class="card-footer">
                <p><small class="text-muted">1 theme inclued.</small></p>
                <p><small class="text-muted">1 year of theme updates & support.</small></p>
                <p><small class="text-muted">20% off future purchases.</small></p>
                <a href="#" class="btn btn-primary btnPrice">VIEW</a>
            </div>
        </div>

        <div class="card prix">

            <div class="card-body prixCoul">
                <h5 class="card-title">$199</h5>
                <p class="card-text">1 Year Membership</p>
            </div>
            <div class="card-footer">
                <p><small class="text-muted">All themes inclued.</small></p>
                <p><small class="text-muted">1 year of theme updates & support.</small></p>
                <p><small class="text-muted">Access all new themes.</small></p>
                <a href="#" class="btn btn-primary btnPrice">SIGN UP TODAY</a>
            </div>
        </div>

        <div class="card">

            <div class="card-body prixCoul">
                <h5 class="card-title">$399</h5>
                <p class="card-text">Forever Membership</p>
            </div>
            <div class="card-footer">
                <p><small class="text-muted">All themes inclued.</small></p>
                <p><small class="text-muted">Unlimited theme updates & support.</small></p>
                <p><small class="text-muted">Access all new themes.</small></p>
                <a href="#" class="btn btn-primary btnPrice">SIGN UP TODAY</a>
            </div>
        </div>
    </div>
{% endblock %}
