.ico{
    margin-left: 5%;
}

.lien{
    margin-left: 50%;
}

.su{
    border-radius: 30px;
    background-color: black;
    margin-right: 10%;
}

.membership{
    background-image: url("/img/kallyas-landingpage.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    height:700px;
}

.card{
    background-color: transparent;
    border: none;
    padding-top: 10%;
    margin-left: 10%;
}

.card-body{
    width: 400px;
}

.card-title{
    font-size: 50px;
}

.startNow{
    border-radius: 30px;
    color: black;
    background-color: white;
    border: none;
}

.WeCraft{
    margin-top: 8%;
    text-align: center;
}

.card-rubrique{
font-size: 30px;
}

.droite{
position: absolute;
}

.vide{
    position: relative;
    background-color: transparent;
    color: white;
    text-align: center;
}

.vide2{
    margin-top: 380px;
}

.plan{
    height: 585px;
}

.card-price{
    background-color: black;
    height: 100%;
    padding-top: 10%;
}

.titre-price p{
    color: white;
    padding-left: 40%;
    font-size: 28px;
    position: absolute;
}

.card-body{
    border-right: 1px white solid;
    padding-top: 10px;
}

.prixCoul p{
    color: white;
}

.prixCoul h5{
    color: #FFFC47;
}

.btnPrice{
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 220px;
    height: 50px;
}